.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 630px;
  gap: 12px;
}

.input {
  max-width: 204px;
}

.button {
  width: 100%
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
}

.block {
  min-width: 630px;
  max-height: 286px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 0 auto;
}

.circles {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: auto;
}

.firstRow {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.secondRow {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}